<div class="about-me" id="about-me">
    <div class="about-me-div">
        <div class="about-me-card">
            <div class="about-me-card-div1">
                <img src="./../../../assets/images/my-images/Praneeth_5.jpeg" alt="myPhoto" class="about-me-card-div1-img">
            </div>
            <div class="about-me-card-div2">
                <span>Gosu<br/>Praneeth</span>
            </div>
            <div class="about-me-card-div3"></div>
            <div class="about-me-card-div4">
                <span>Software Developer</span>
            </div>
            <div class="about-me-card-div5">
                <a href="https://github.com/gosupraneeth" class="about-me-card-div5-logo" target="_blank">
                    <ph-github-logo
                    size="30"
                    color="#646C75"
                    weight="bold"
                    name="github logo"></ph-github-logo>
                </a>
                <a href="https://www.linkedin.com/in/praneeth-gosu/" class="about-me-card-div5-logo" target="_blank">
                    <ph-linkedin-logo
                    size="30"
                    color="#646C75"
                    weight="bold"
                    name="linkedin logo"></ph-linkedin-logo>
                </a>
                <a href="https://ieeexplore.ieee.org/author/37089867639" class="about-me-card-div5-logo" target="_blank">
                    <ph-books
                    size="30"
                    color="#646C75"
                    weight="bold"
                    name="files logo"></ph-books>
                </a>
            </div>
        </div>
        <div class="about-me-details">
            <div class="about-me-details-heading">About Me</div>
            <div class="about-me-details-text">
                As a Software Developer at Cisco, I bring a robust foundation in technology, backed by a Bachelor's degree in Information Technology from the National Institute of Technology Karnataka. In my role, I specialize in UI development with Angular, building streamlined and effective user experiences. 
                <br/><br/>
                Beyond my professional responsibilities, I am deeply interested in Generative AI and am committed to staying at the forefront of this rapidly evolving field. My dedication to research has led to three publications in renowned conferences within the domain of Deep Learning, underscoring my passion for pushing the boundaries of AI.
                <br/><br/>
                With a versatile background that also includes Full Stack Web Development, I am always looking for new ways to broaden my technical horizons. I thrive on learning, innovation, and opportunities to apply cutting-edge technology to impactful projects.
                <br/><br/>
                Let’s connect and discuss how we can drive technology forward together!
            </div>
        </div>
    </div>
</div>