:host{
    .modal{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0px;
        z-index: 100;
        &-overlay{
            position: fixed;
            inset: 0px;
            background-color: var(--hbr-color-overlay-bg, rgba(0, 0, 0, 0.4));
            opacity: 0;
            transition: 300ms opacity;
        }
        &-panel{
            width: 850px;
            display: flex;
            flex-direction: column;
            z-index: 2;
            min-height: 0px;
            background-color: white;
            border-radius: 0.57rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
            opacity: 0;
            transform: scale(0.8);
            transition: 300ms opacity, 300ms transform;
            &-header{
                border-bottom: 1px solid #e1e4e8;
                flex: 0 0 auto;
                display: flex;
                position: relative;
                span{
                    padding: 1.5rem 1.5rem 1rem 1.5rem;
                    font-weight: 700;
                    font-size: 1.5rem;
                    color: #373C42;
                    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                }
            }
            &-body{
                font-size: 14px;
                padding: 0px 1.50rem 1.50rem 1.50rem;
                flex: 1 1 auto;
                overflow: auto;
                color: #23282E;
                font-weight: 400;
            }
            &-footer{
                border-top: 1px solid #e1e4e8;
                padding: 0.7rem;
                flex: 0 0 auto;
                text-align: right;
                .footer-content{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }
    .modal-open .modal-overlay{
        opacity: 1;
    }
    .modal-open .modal-panel{
        display: flex;
        opacity: 1;
        transform: none;
    }
}
