<div class="photo-card">
    <div class="photo-card-items">
        <div class="photo-card-items-shadow">
            <div #imgdiv class="photo-card-items-div1">
                <div class="photo-card-items-div1-imgdiv" [style]="style">
                    <img #img src="{{source}}" alt="{{source}}" class="photo-card-items-div1-img">
                </div>
            </div>
            <hr>
            <div class="photo-card-items-div2">
                <span class="photo-card-items-div2-span">{{title}}</span>
            </div>
            <div class="photo-card-items-div3">
                <span class="photo-card-items-div3-span">{{description}}</span>
            </div>
        </div>
    </div>
</div>
