<div class="resume">
    <section class="resume-section">
        <div class="resume-section-heading">
            <span>Experience</span>
            <span class="line"></span>
        </div>
        <div class="resume-section-items">
            <ng-container *ngFor="let item of experience">
                <app-photo-card
                [width]="item.width"
                [img_height]="item.img_height"
                [title]="item.title"
                [description]="item.description"
                [source]="item.img_src"
                [itemId]="item.id"
                (onCardClick)="onPhotoCardClick(item)"
                ></app-photo-card>
            </ng-container>
        </div>
    </section>
    <section class="resume-section resume-section-styled-left" style="background-color: #fce8e6;">
        <div class="resume-section-heading">
            <span>Education</span>
            <span class="line"></span>
        </div>
        <div class="resume-section-edu-items">
            <div class="resume-section-edu-box" *ngFor="let key of education | keyvalue">
                <div class="resume-section-edu-box-item" *ngFor="let item of key.value">
                    <div class="resume-section-edu-box-item-img">
                        <img src="{{item.img_src}}" alt="{{item.img_alt}}">
                    </div>
                    <div class="resume-section-edu-box-item-desc">
                        <span class="resume-section-edu-box-item-desc-heading">{{item.title}}</span>
                        <p [innerHTML]="item.description"></p>
                            <div class="resume-section-edu-box-item-desc-date">
                                <span>{{item.date}}</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="resume-section">
        <div class="resume-section-heading">
            <span>Certificates</span>
            <span class="line"></span>
        </div>
        <div class="resume-section-items">
            Here Carousel of the certificates will come
            Reference https://wearos.google.com/
        </div>
    </section> -->
    <section class="resume-section">
        <div class="resume-section-heading">
            <span>Projects</span>
            <span class="line"></span>
        </div>
        <div class="resume-section-items" style="flex-direction: column;">
            <div class="resume-section-project-box resume-section-styled-{{item.align_side}} project-styled-{{item.align_side}}" [style]="item.bg_color" *ngFor="let item of projects">
                <div class="resume-section-project-box-item">
                    <ng-container *ngIf="item.align_side==='left'; else rightAlignment">
                        <div class="resume-section-project-box-item-img">
                            <img src="{{item.img_src}}" alt="{{item.img_alt}}" (click)="onClickingProject(item)">
                        </div>
                        <div class="resume-section-project-box-item-desc">
                            <span class="resume-section-project-box-item-desc-heading">{{item.title}}</span>
                            <p>{{item.description}}</p>
                                <div class="resume-section-project-box-item-desc-date">
                                    <span>{{item.date}}</span>
                                </div>
                        </div>
                    </ng-container>
                    <ng-template #rightAlignment>
                        <div class="resume-section-project-box-item-desc">
                            <span class="resume-section-project-box-item-desc-heading">{{item.title}}</span>
                            <p>{{item.description}}</p>
                                <div class="resume-section-project-box-item-desc-date">
                                    <span>{{item.date}}</span>
                                </div>
                        </div>
                        <div class="resume-section-project-box-item-img">
                            <img src="{{item.img_src}}" alt="{{item.img_alt}}" (click)="onClickingProject(item)">
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>
</div>

<app-modal
[isOpen]="isModalOpen"
[heading]="modalValues.title"
(onModalClose)="onModalClose()">
<div class="resume-modal">
    <div class="resume-modal-imgdiv" [style]="'height:250px'">
        <img #img src="{{modalValues.img_src}}" alt="{{modalValues.img_alt}}" class="resume-modal-img">
    </div>
    <div class="resume-modal-address">
        <span>{{modalValues.img_desc}}</span>
    </div>
    <div class="resume-modal-description">
        <div class="resume-section-heading">
            <span style="font-size: 24px;">Details</span>
            <span class="line"></span>
        </div>
        <div class="resume-modal-description-details">
            <ul *ngIf="modalValues.detailed_desc.length>1; else stringDesc">
                <li *ngFor="let descr of modalValues.detailed_desc">{{descr}}</li>
            </ul>
            <ng-template #stringDesc>
                <span>{{modalValues.detailed_desc}}</span>
            </ng-template>
        </div>
        <div class="resume-modal-description-project" *ngIf="modalValues.is_project">
            <div class="resume-section-heading">
                <span style="font-size: 24px;">Keywords</span>
                <span class="line"></span>
            </div>
            <div class="resume-modal-description-details">
                <span>{{modalValues.tools_used}}</span>
            </div>
            <div class="resume-section-heading">
                <span style="font-size: 24px;">Important Links</span>
                <span class="line"></span>
            </div>
            <div class="resume-modal-description-details">
                <div *ngIf="modalValues.code_link">
                    <a href="{{modalValues.code_link}}" target="_blank"> <ph-github-logo
                        class="link-logos"
                        size="20"
                        color="#646C75"
                        weight="bold"
                        name="github logo"></ph-github-logo> Link to the code</a>
                </div>
                <div *ngIf="modalValues.article_link">
                    <a href="{{modalValues.article_link}}" target="_blank"> <ph-article
                        class="link-logos"
                        size="20"
                        color="#646C75"
                        weight="bold"
                        name="article logo"></ph-article> Link to the published article</a>
                </div>
                <div *ngIf="modalValues.certificate_link">
                    <a href={{modalValues.certificate_link}} target="_blank"> <ph-certificate
                        class="link-logos"
                        size="20"
                        color="#646C75"
                        weight="bold"
                        name="certificate logo"></ph-certificate> Link to the publication certificate</a>
                </div>
            </div>
        </div>
    </div>
</div>
</app-modal>
