<div class="resume">
    <section class="resume-section">
        <div class="resume-section-heading">
            <span>Experience</span>
        </div>
        <div class="resume-section-items">
            <ng-container *ngFor="let item of experience">
                <app-photo-card
                [width]="item.width"
                [img_height]="item.img_height"
                [title]="item.title"
                [description]="item.description"
                [source]="item.img_source"
                ></app-photo-card>
            </ng-container>
        </div>
    </section>
    <section class="resume-section">
        <div class="resume-section-heading">
            <span>Education</span>
        </div>
        <div class="resume-section-items">
            <ng-container *ngFor="let item of experience">
                <app-photo-card
                [width]="'100%'"
                [img_height]="item.img_height"
                [source]="item.img_source"
                ></app-photo-card>
            </ng-container>
        </div>
    </section>
</div>
