<div class="resume">
    <section class="resume-section">
        <div class="resume-section-heading">
            <span>Experience</span>
        </div>
        <div class="resume-section-items">
            <app-photo-card
                [width]="'33%'"
                [img_height]="'250px'"
                [title]="'Cisco pvt limited'"
                [description]="'I work here since 1 year, I am working as software engineer'"
                [source]="'./../../../assets/images/cisco_logo.webp'"
            ></app-photo-card>
            <app-photo-card
                [width]="'33%'"
                [img_height]="'250px'"
                [title]="'GE HealthCare'"
                [description]="'I work here since 1 year, I am working as software engineer'"
                [source]="'./../../../assets/images/GE_logo.jpg'"
            ></app-photo-card>
            <app-photo-card
                [width]="'33%'"
                [img_height]="'250px'"
                [title]="'IIIT Hyderabad'"
                [description]="'I work here since 1 year, I am working as software engineer'"
                [source]="'./../../../assets/images/iiith_logo.jpeg'"
            ></app-photo-card>
        </div>
    </section>
</div>
